<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>day10_FileDownload</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loc1Servlet</display-name>
    <servlet-name>Loc1Servlet</servlet-name>
    <servlet-class>com.itheima.a_response.Loc1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loc1Servlet</servlet-name>
    <url-pattern>/loc1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loc2Servlet</display-name>
    <servlet-name>Loc2Servlet</servlet-name>
    <servlet-class>com.itheima.a_response.Loc2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loc2Servlet</servlet-name>
    <url-pattern>/loc2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintServlet</display-name>
    <servlet-name>PrintServlet</servlet-name>
    <servlet-class>com.itheima.b_body.PrintServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintServlet</servlet-name>
    <url-pattern>/print</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>com.itheima.c_download.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CodeServlet</display-name>
    <servlet-name>CodeServlet</servlet-name>
    <servlet-class>com.itheima.d_verificationCode.CodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CodeServlet</servlet-name>
    <url-pattern>/vercode</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.itheima.e_header.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParamServlet</display-name>
    <servlet-name>ParamServlet</servlet-name>
    <servlet-class>com.itheima.request.f_param.ParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParamServlet</servlet-name>
    <url-pattern>/param</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterParam</display-name>
    <servlet-name>RegisterParam</servlet-name>
    <servlet-class>com.itheima.request.f_param.RegisterParam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterParam</servlet-name>
    <url-pattern>/reg</url-pattern>
  </servlet-mapping>
</web-app>